body {
    font-family: Arial, sans-serif;
    background-color: #F5E6CC;
    color: #A64AC9;
    margin: 0;
    padding: 0;
  }
  main{
    position: absolute;
    left: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .photo{
    min-width: 350px;
    min-height: 250px;
    max-width: 200px;
    max-height: 100px;
  }
  nav {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0.1px;

  }

  a:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Затемнение с использованием полупрозрачного цвета */
  }

  nav li {
    margin-bottom: 10px;
  }
  
  nav li a {
    text-decoration: none;
    color: #17E9E0;
    background-color: #FFB48F;
    font-size: 24px;
    border-radius: 14px;
    border-color: #148d87;
    border-style: solid;
  }
  nav li{
    float: left;
    display: inline;
    border-left: 1px solid #eee;
    padding: 0px 25px 0px 25px;
  }
  h1 {
    color: #17E9E0;
  }
   
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #A64AC9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
  }
  
  form {
    max-width: 300px;
    margin: 20px auto;
  }
  
  form label, form input, form select, form button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
  
  p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
  }
  .author{
    height: 650px;
    width: 480px;
  }

  #message {
    color: #FCCD04;
    font-weight: bold;
  }
  
  @media screen and (max-width: 600px) {
    nav {
      width: 100%;
      position: static;
    }
  }